body {
  margin: 0;
  background-color: rgb(26, 26, 26);
  /* color: white */
}
html {
  font-family: "bitter";
  font-weight: 100;
  }

.darkModeScrollingTitle{
  color: rgb(202, 202, 202);
}

.darkModeAxis{
  color: rgb(177, 177, 177)
}

.fixedContainer{
  /* position: fixed; */
  overscroll-behavior: hide;
}
.scrollingTextContainer{
  width: 30%;
  float: right;
  position: "absolute";
  z-index: 0;
  left: "70%";
  font-size: "50px";
  max-width: "25%";
  min-height: 300vh;
}


.textStep{
  background-color: rgba(235, 133, 255, 0.08);
  border: solid 3px rgba(235, 133, 255, 0.1);

  transition: opacity;
  transition-duration: 1;


  /* max-height: 100vh; */
  overflow: hidden;
  position: relative ;
  color: white;
  /* height: 100%;
  width: 100%; */
  padding-left: 5%;
  padding-right: 5%;

  font-size: 40px;
  padding-top: 30vh;
  padding-bottom: 30vh;

}

@media only screen and (max-width: 600px)  {
  .textStep{
    padding-top: 20vh;
    padding-bottom: 20vh;  }
}
.tooltipDiv{
  position: absolute;
  pointer-events: "none";
  float:left;
  z-index: 300000;
  min-width: "110px";
}


.canvasStickyChartContainer{
  position: fixed;
  height: 100%;
  width: 100%;
}
.canvasStickyChart{
  position: absolute;
  float: left;
  /* height: 95%; */
  z-index: 2;
}

.canvasStickyPointHighlight{
  position: absolute;
  float: left;
  z-index: 3;
}

.canvasStickyChartAxis{
  position: relative;
  float: left;
  z-index: 0;
  top: 95%;
  width: 100%;


}



/* html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior: none;
} */
