body {
  margin: 0;
  background-color: rgb(26, 26, 26);
  /* color: white */
}

.darkModeScrollingTitle{
  color: rgb(202, 202, 202);
}

.darkModeAxis{
  color: rgb(77, 77, 77)
}


/* html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior: none;
} */
