body {
  margin: 0;
  background-color: rgb(26, 26, 26);
  /* overflow: hidden; */

  /* color: white */
}
html {
  font-family: "bitter";
  font-weight: 100;
  /* scroll-behavior: smooth; */

  }

  html, body {
    height: 100%;
 }

 /* body {
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: 0 0;
      -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: scroll;
} */


.darkModeScrollingTitle{
  color: rgb(202, 202, 202);
}

.darkModeAxis{
  color: rgb(177, 177, 177)
}

/* .fixedContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 200vh;

}

.fixedContainerUp{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 200vh;
} */


.scrollingTextContainer{
  width: 30%;
  float: right;
  position: relative;
  z-index: 0;
  top: .5;
  bottom: .5;
}

.swarmTooltipText{
  font-size: 15px;
}

.swarmTooltipContainer{
max-width: 20px;
}



.scrollySwarmContainer{
background-color: rgb(223, 223, 223);
}

.textStep{
  background-color: rgba(255, 255, 255, 0.123);
  border: solid 4px rgba(0,0,255,.3);
  /* border: solid 3px rgba(97, 126, 255, 0.8); */

  transition: opacity;
  transition-duration: 500ms;
  /* max-height: 100vh; */
  overflow: hidden;
  position: relative ;
  color: white;
  /* height: 100%;
  width: 100%; */
  padding: 5%;
  transition: opacity;
  transition-duration: 500ms;

  font-size: 40px;
  margin-top: 40vh;
  margin-bottom: 40vh;
}

.scrollySwarmTextStep{
  background-color: rgba(255, 255, 255, 0.712);
  color: black;

}

@media only screen and (max-width: 400px)  {
  .textStep{
    margin-top: 40vh;
    margin-bottom: 40vh;
    font-size: 20px;
  }
}
.tooltipDiv{
  position: absolute;
  pointer-events: "none";
  float:left;
  z-index: 300000;
  min-width: "110px";
}


.canvasStickyChartContainer{
  position: fixed;
  height: 100%;
  width: 100%;
}
.canvasStickyChart{
  position: absolute;
  float: left;
  height: 95%;
  transition: height;
  transition-duration: 500ms;
  z-index: 2;
}

.canvasStickyPointHighlight{
  position: absolute;
  float: left;
  z-index: 3;
}

.canvasStickyChartAxis{
  transition: width;
  transition-duration: 500ms;
  position: relative;
  float: left;
  z-index: 0;
  top: 95%;
  transition: top;
  transition-duration: 500ms;
  width: 100%;
}



/* html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior: none;
} */
